<div class='centralise'>
<% include ../partials/flash %>
</div>
<div class="logo"></div>
<div class="login-block">
<h1>Login</h1>

<%- include('../partials/auth-form', {formUrl: '/login'}) %>

<p>Not a user yet? <a href='/signup'>Signup here</a></p>
</div>
